<div class="print-jobs">
  <table>
    <thead>
      <tr>
        <th>Print Job</th>
        <th>Attached Requests</th>
        <th>Assigned Printer</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @print_jobs.each do |print_job| %>
        <tr>
          <td><%= link_to print_job.id, print_job_path(print_job) %></td>
          <td>
            <% print_job.print_requests.each do |print_request| %>
              <div><%= link_to print_request.stl_file_name, print_request_path(print_request) %></div>
            <% end %>
          </td>
          <td>
            <% if print_job.printer %>
              <%= print_job.printer.name %>
            <% end %>
          </td>
          <td><%= print_job.status %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

