<h2>Home Page</h2>
<h3>Welcome to the 3D Printer Spooling Service</h3>

<div class="summary">
  This service is used in conjuction with the 3D printers in the Intention Studio at Georgia
  Institute of Technology.
</div>

