<h2>Welcome to FabServ</h2>
<h3>3D Printing Service at the Georgia Tech Invention Studio</h3>

<div class="summary">
    <p>FabServ is 3D printing at Georgia Tech.</p>

    <p>Free to use; no 3D printer hacking needed. Just upload your 3D model in STL format.</p>

    <img src="/images/FabServ_explanation.png" width="531" height="440" title="FabServ explanation: users send STL files and receive email notices and parts back" />

    <p>FabServ is the first student-run online 3D printing service at any makerspace or university.</p>
</div>

