<div class="print-request header">
  <div class="logo"><%# TODO insert a logo here %></div>
  <div class="user-information">
    <div class="user-id"><%# TODO insert user information %></div>
    <div class="upload-stl-file">
      <%= form_tag({:action => :create}, :multipart => true) do %>
        <%= file_field_tag 'stl_file' %>
        <%= submit_tag %>
      <% end %>
    </div>
  </div>
</div>

<%= render 'print_jobs' %>

