@import 'users';

$fg_bright_color: #ffd600;
$fg_dark_color: #3d4144;
$section_internal_width: 1024px;
$section_padding: 8px;
$error_bg_color: #fac;
$error_fg_color: #f00;
$error_border_color: #f66;

div.user-header {
  $header_height: 50px;
  $header_padding: 2px;
  $title_font_size: 28px;
  $text_font_size: 16px;
  $internal_height: $header_height - 2 * $header_padding;
  
  width: 100%;
  background-color: $fg_dark_color;
  height: $internal_height;
  padding: $header_padding;
  color: white;

  div.title {
    text-transform: uppercase;
    font-size: $title_font_size;
    padding: ($internal_height - $title_font_size) / 2;
    float: left;

    span:nth-child(2) {
      color: $fg_bright_color;
    }
  }

  div.logo {

  }

  div.user-details {
    float: right;
    font-size: $text_font_size;
    padding: (($internal_height - $text_font_size) / 2) 30px;
    font-weight: bold;
    
    a {
      color: white;
      text-decoration: none;

      &:hover { color: white; }
      &:visited { color: white; }
    }
  }
}

h2 {
  color: $fg_dark_color;
  margin: 5px 0 5px 25px;
}

h1 {
  color: $fg_dark_color;
  font-size: 42px;
  margin: 30px;
}

input[type=button], input[type=submit] {
  padding: 7px 14px;
  color: white;
  cursor: pointer;

  @include no-box-shadow;
  @include a-radius-of(10px);
  border-width: 0px;
}

input[type=submit] {
  background-color: green;
}

input[type=file] {
  display: none;
}

input#upload-file-overlay {
  padding: 3px;
  width: $section_internal_width - 100;
  @include a-radius-of(5px);
}

div.error-msg {
  border: 2px solid $error_border_color;
  color: $error_fg_color;
  background-color: $error_bg_color;
  width: 800px;
  margin: auto;
  padding: 7px;
  @include a-radius-of(10px);
  display: none;
  text-align: center;
}

div.section {
  width: $section_internal_width + $section_padding * 2;
  margin: 10px auto;
  border: 1px solid #ccc;
  padding: $section_padding;
  position: relative;
}

div.upload-files.section {

}

div.stl-preview {
  width: 660px;
  height: 500px;
  margin: auto;
  padding: 10px;
}

div.check-status.section {
  position: relative;
  overflow: auto;

  h2 {
    margin-bottom: 25px;
  }

  div#refresh-status {
    float: right;
    font-size: 16px;
  }

  table {
    width: $section_internal_width - 60;

    th, td {
      padding: 8px;
    }
  }

  div.dataTables_info, div.dataTables_paginate {
    margin-bottom: 25px;
    position: relative;
  }
}

